* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(148, 29, 228);
  background: linear-gradient(
    339deg,
    rgba(148, 29, 228, 1) 14%,
    rgba(37, 76, 142, 1) 45%,
    rgba(195, 78, 193, 1) 83%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 2rem 0;
  text-align: center;
  color: #f0ddbc;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
  padding: 1rem 1.5rem;
  overflow: auto;
  background-color: #3a42579c;
  border: none;
}

.form {
  display: flex;
  width: 100%;
}
.input-form {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
}

.btn-hover {
  width: 50%;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  background-color: #3a425764;
  color: #f0ddbc;
  box-shadow: 0 4px 15px 0 rgba(240, 221, 188, 0.628);
}
.btn-hover:active {
  transform: scale(0.97);
}

.input-task {
  border-radius: 5px;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  height: 50px;
  border: none;
  background-color: #3a425764;
  color: #f0ddbc;
  box-shadow: #f0ddbc95 0px 2px 6px 0px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  margin-top: 25px;
}

.checked {
  text-decoration: line-through;
  color: red;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f0ddbc69;
  border-radius: 5px;
  margin: 1rem 0rem;
  width: 100%;
  padding-left: 8px;
  color: #f0ddbcd7;
  cursor: pointer;
}

li p {
  width: 85%;
}

.task-icons {
  font-size: 20px;
  cursor: pointer;
  padding: 0.6rem;
}
